<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.sinisterstuf.guesstheanimal"
    android:installLocation="preferExternal">

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.sinisterstuf.guesstheanimal.Greeting"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="Guess"/>
        <activity android:name="Win"/>
        <activity android:name="Lose"/>
        <activity android:name="LearnName"/>
        <activity android:name="LearnQuestion"/>
        <activity android:name="LearnYesNo"/>
        
    </application>

</manifest>
